@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Redacted+Script:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');


* {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "M PLUS Rounded 1c", sons-serif;
  -webkit-user-select: none;
  user-select: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  transition: background-color 1s ease;
  background-color: rgba(20,21,22,255);
}

.lock-scroll {
  overflow: hidden;
}


/*---------------------------
        HEADER STYLING
  --------------------------- */

.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  padding: 0 1.5rem;
  height: 4.5vmax;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2b2a2af9;
}


.logo {
  background: url("./assets/ig.jpg");
  font-family: 'Redacted Script', cursive;
  -webkit-background-clip: text;
  color: transparent;
  background-clip: text;
  animation: text 30s linear infinite;
  transition: all 0.6s ease-in-out 0.1s;
  font-size: 3vmax;
  cursor: pointer;
}

@keyframes text {
  form {
    background-position: 0% 50%;
  }

  to {
    background-position: 100% 100%;
  }
}

.navbar-list {
  display: flex;
  gap: 4vw;
  padding: 1vw;
  list-style: none;
}

.navbar-link {
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(240, 248, 255, 0.397);
  font-family: "M PLUS Rounded 1c", sons-serif;
  font-size: 1.2vw;
  font-weight: 500;
  transition: all 0.3s ease-in-out 0.1s;
}

.navbar-list .active {
  padding-left: 0.8vw;
  padding-right: 0.8vw;
  color:rgba(255, 217, 0, 0.648);
  transform: scale(1.12);
  border-radius: 50px;
  cursor: default;
  background-color: rgba(245, 245, 245, 0.089);
}


/*  -------------------------------
        OTHER SECTIONS STYLING
    ------------------------------- */

section {
  background-color: rgba(20,21,22,255);
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2vw;
  padding-right: 2vw;
}


section p {
  color: rgb(245, 245, 245);
  font-size: 2vmax;
  text-align: center;
}

section:last-of-type {
  height: 100vh;
}

.hero-img,
.service-img {
  min-width: 80px;
  width: 40vw;
}


/*  -------------------------------
          HOME PAGE STYLING
    ------------------------------- */


#home {
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
  padding-top: 10vmax;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 50px;
}

.right-home-div {
  text-align: center;
  padding: 20px;
}

.left-home-div {
  min-width: 50%;
  padding-top: 10vmin;
  padding-bottom: 10vmin;
}


.profile-img {
  border-radius: 50%;
  min-width: 20px;
  width: 80vmin;
  max-width: 100%;
}

.profile-txt {
  color: whitesmoke;
  font-size: 3vmax;
  text-align: left;
  padding-bottom: 20px;
}

.hello-img {
  width: 3vmax;
}

.my-name {
  background-image: url(./assets/ig.jpg);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-family: 'Bangers', cursive;
  font-size: 4vmax;
}



/*  -------------------------------
          SOCIAL ICONS STYLING
    ------------------------------- */

.social-menu ul{
  display: flex;
  gap: 2vmax;
  max-width: 100%;
}

.social-menu ul li{
  list-style: none;
}

.social-menu ul li .fab{
  font-size: 2.5vmax;
  line-height: 4vmax;
  transition: .3s;
  color: #ffffff;
}

.social-menu ul li .fab:hover{
  color: #fff;
}

.social-menu ul li a{
  position: relative;
  display: block;
  width: 4vmax;
  height: 4vmax;
  border-radius: 50%;
  text-align: center;
  transition: .6s;
}

.social-menu ul li a:hover{
  transform: translate(0, -10%);
}

.social-menu ul li:nth-child(1) a:hover{
  background-color: #014970;
}
.social-menu ul li:nth-child(2) a:hover{
  background-color: #323131;
}
.social-menu ul li:nth-child(3) a:hover{
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}
.social-menu ul li:nth-child(4) a:hover{
  background-color: #1DA1F2;
}


/*  -------------------------------
        HAMBURGER STYLING
    ------------------------------- */


.mobile-nav-icon {
  padding-top: 5px;
  width: 4vmax;
  height: 4vmax;
  color: rgb(231, 183, 119);
}

.mobile-navbar-btn {
  display: none;
  background: transparent;
  cursor: pointer;
}

.mobile-nav-icon[name="close-outline"] {
  display: none;
}



/*  -------------------------------
        RESPONSIVE NAVABAR
    ------------------------------- */

@media (max-width: 900px) {
  .mobile-navbar-btn {
    display: block;
    z-index: 999;
  }

  .navbar {
    display: none;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 4.5vmax;
    padding-bottom: 4.5vmax;

    display: flex;
    justify-content: center;
    align-items: center;

    transform: translate(100%);
    transition: all 0.5s;

    overflow-y: auto;
  }

  .navbar-list {
    gap: 12vmax;
    flex-direction: column;
    align-items: center;
  }

  .header{
    height: 7vmax;
  }


  .active .navbar {
    background-color: rgb(51, 46, 46);
    transform: translateX(0);
    visibility: visible;
    pointer-events: auto;
  }

  .navbar-link {
    font-size: 2.5vmax;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"] {
    display: block;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"] {
    display: none;
  }

  .logo {
    font-size: 5vmax;
  }
}

/*  -------------------------------------
        ON-HOVER NAVBAR LINKS STYLING
    ------------------------------------- */

@media (hover: hover) {
  .navbar-link:hover {
    text-decoration: underline;
    text-underline-offset: 6px;
    color: aliceblue;
    transform: scale(1.1);
    transition: all 0.2s ease-in-out 0.1s;
  }
}


/*  -------------------------------
        SCREEN RESPONSIVE
    ------------------------------- */

@media screen and (max-width:600px) {
  #home {
    flex-direction: column;
    justify-content: center;
    padding-top: 5vw;
  }

  .header{
    height: 14vmin;
  }

  .profile-img{
    max-width: 100%;
  }

  .profile-txt {
    font-size: 8vmin;
  }

  .my-name {
  font-size: 8vmin;
  }

  .hello-img {
    width: 8vmin;
  }

  .social-menu ul li a{
    width: 6vmin;
    height: 6vmin;
  }
  .social-menu ul{
    display: flex;
    gap: 6vmin;
  }

  .social-menu ul li .fab{
    font-size: 6vmin;
    line-height: 6vmin;
  }
}

/*  -------------------------------
        SCROLLBAR STYLING
    ------------------------------- */

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: rgb(0, 0, 0, 0.3);
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: rgba(51, 46, 46, 0.842);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(51, 46, 46, 0.755);
}
